<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bentham&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="float">
                <div class="float-button"><p>Home</p></div>
                <div class="float-button"><p>Browse</p></div>
                <div class="float-button"><p>Playlist</p></div>
            </div>

            <div class="music-box">
                <input type="text" id="music-box-search" placeholder="Search by title,artist or album">
                <div class="music-images">
                    <img class="start-image" src="images/harrystyles-album-cover.jpg" alt="">
                    <img src="images/brunomars-album-cover.jpg" alt="">
                    <img src="images/drake-album-cover.jpg" alt="">
                    <img class="now-playing" src="images/arctic-monkeys-album-cover.jpg" alt="">
                    <img src="images/hozier-album-cover.jpg" alt="">
                    <img src="images/dojacat-album-cover.jpg" alt="">
                    <img class="end-image" src="images/eminem-album-cover.jpg" alt="">
                </div>
                <div class="music-functions">
                    <div class="upnext">
                        <img src="images/play-next-white-icon.png" alt="">
                        <p>Up Next</p>
                    </div>
                    <div class="next-songs">
                        <div class="next-song">
                            <img src="images/hozier-album-cover.jpg" alt="">
                            <div class="artist">
                                <p class="song-name">Like real people do</p>
                                <p class="artist-name">Hozier</p>
                            </div>
                            <div class="song-functions">
                                <p class="duration">3:05</p>
                                <p class="like"><i class="fa fa-heart"></i></p>
                                <p class="options">&#8230</p>
                            </div>
                        </div>
                        <!-- <div class="next-song">
                            <img src="images/dojacat-album-cover.jpg" alt="">
                            <div class="artist">
                                <p class="song-name">Agora Hills</p>
                                <p class="artist-name">Doja Cat</p>
                            </div>
                            <div class="song-functions">
                                <p class="duration">3:05</p>
                                <p class="like"><i class="fa fa-heart"></i></p>
                                <p class="options">&#8230</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="play-functions">
                
            </div>

        </div>
    </div>
</body>
</html>