*{
    padding: 0;
    margin: 0;
    
}
body{
    height: 100vh;
    background: url("/images/background-image.png") no-repeat center center/cover ;
    /* background-image: linear-gradient(135deg,rgb(89, 89, 89),black); */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.float{
    border-top: 2px solid rgb(206, 206, 206);
    background-color: rgb(225, 225, 225,0.1);
    backdrop-filter: blur(15px);
    height: 3em;
    width: 30%;
    margin-top: 1.5em;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.float-button{
    line-height: 2.4em;
    text-align: center;
    /* background-color: blue; */
    height: 80%;
    width: 9em;
    border-radius: 25px;
    
}
.float-button > p{
    color: rgb(206, 206, 206);
    letter-spacing: 1px;
    font-size: 20px;
    font-family: "Bentham", serif;
    font-weight: 400;
    font-style: normal;
}
.music-box{
    margin-top: 15px;
    backdrop-filter: blur(15px);
    background-color: rgb(225, 225, 225,0);
    /* background-color: yellow; */
    height: 60vh;
    width: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
#music-box-search{
    margin-top: 15px;
    margin-left: 16px;
    width: 25%;
    height: 2em;
    padding: 10px;
    padding-left: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
}
.music-images{
    position: relative;
    right: 10%;
    
    /* background-color: white; */
    width: 120%;
    height: 45%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.music-images img{
    height: 90%;
    gap: 30px;
}
.now-playing{
    height: 125% !important;
}
.start-image{
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%);
}
.end-image{
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%);
}
.music-functions{
    background-color: red;
}

.music-functions{
    margin-top: 40px;
    height: 30%;
    width: 100%;
}