*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 100;

}
body{
    height: 100vh;
    background: url("/images/background-try.jpg") no-repeat center center/cover ;
    /* background-image: linear-gradient(135deg,rgb(89, 89, 89),black); */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.float{
    border-top: 2px solid rgb(206, 206, 206);
    background-color: rgb(225, 225, 225,0.1);
    backdrop-filter: blur(15px);
    height: 2.8em;
    width: 30%;
    margin-top: 2em;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.float-button{
    line-height: 2.4em;
    text-align: center;
    /* background-color: blue; */
    height: 80%;
    width: 9em;
    border-radius: 25px;
    
}
.browse{
    background-blend-mode: luminosity;
}
.float-button > p{
    color: rgb(206, 206, 206);
    font-size: 20px;
    font-weight: 300;
}
.music-box{
    padding-bottom: 10px;
    margin-top: 15px;
    /* backdrop-filter: blur(10px);
    background-color: rgb(225, 225, 225,0.2); */
    backdrop-filter: blur(20px);
    background-color: rgb(225, 225, 225,0.4);
    /* background-color: yellow; */
    width: 60%;
    /* border-radius: 50px; */
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 204px; */
}
#music-box-search{
    background-color: white;
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 20px;
    width: 27%;
    height: 1.5em;
    padding: 10px;
    padding-left: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
}
.music-images{
    position: relative;
    right: 10%;
    /* background-color: white; */
    width: 120%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.music-images img{
    height: 125px;
    gap: 30px;
}
.now-playing{
    height: 200px !important;
}
.start-image{
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%);
}
.end-image{
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%);
}


.music-functions{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    
    /* position: relative;
    bottom: 300px;*/
    height: 9em;
    width: 60%;
    /* backdrop-filter: blur(20px);
    background-color: rgb(225, 225, 225,0.4); */
    backdrop-filter: blur(10px);
    background-color: rgb(225, 225, 225,0.2);
}
.upnext{
    display: flex;
    margin-top: 1.5em;
    margin-left: 5em;
    width: 100%;
}
.upnext img{
    height: 1.5em;
}
.upnext p{
    font-size: 1em;
    padding-left: 0.5em;
    line-height: 1.45em;
    color: white;
}
.next-songs{
    margin-top: 0.8em;
    margin-left: 6em;
    height: auto;
}
.next-song{
    height: 70px;
}
.next-song img{
    height: 60px;
    border-radius: 10px;
}
.artist{
    color: white;
    width: 30%;
    /* background-color: blue; */
    position: relative;
    left: 90px;
    bottom: 55px;
}
.song-name{
    font-size: 20px;
}
.artist-name{
    color: rgba(46, 46, 46,0.95);
    font-size: 15px;
}
.song-functions{
    position: relative;
    bottom: 82px;
    /* background-color: yellow; */
    display: flex;
    width: 30%;
    position: relative;
    left: 70%;
    gap: 30px;
}
.song-functions p{
    /* color: white; */
}
.duration{
    color: white;
    position: relative;
    bottom: 10px;
    font-size: 15px;
}
.like{
    color: red;
    position: relative;
    bottom: 12px;
    font-size: 20px;
}


.play-functions{
    backdrop-filter: blur(10px);
    background-color: rgb(225, 225, 225,0.2);
    height: 5em;
    width: 60%;
    margin-top: 20px;
    border-radius: 50px;
    position: static;
    display: flex;
    align-items: center;
}
.play-buttons{
    border-radius: 50px 0 0 50px ;
    backdrop-filter: blur(20px);
    background-color: rgb(225, 225, 225,0.4);
    padding-left: 40px;
    padding-right: 20px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}
.control{
    padding: 8px;
    font-size: 1.4em;
    margin: 0 15px;
}
#playButton{
    
    width: 50px;
}
.play-bar{
    backdrop-filter: blur(20px);
    border: 15px solid rgb(225, 225, 225,0.4);
    border-top: 10px solid rgb(225, 225, 225,0.4);
    border-bottom: 10px solid rgb(225, 225, 225,0.4);
    height: 71%;
    padding: 2px;
    display: flex;
    align-items: center;
}
.play-bar img{
    margin-left: 5px;
    border-radius: 10px;
    height: 80%;
}
.current{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.current-song{
    font-size: 17px;
    color: white;
    margin-bottom: 2px;
}
.current-artist{
    width: 18em;
    color: rgba(46, 46, 46,0.8);
    font-size: 13px;
}
.current-options{
    margin-left: 1em;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}
.option{
    /* margin-left: 10px; */
    padding: 5px;
}
.volume-functions{
    font-size: 1.4em;
    color: white;
    backdrop-filter: blur(20px);
    background-color: rgb(225, 225, 225,0.4);
    height: 100%;
    width: 30%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* #volumeSlider::-webkit-slider-runnable-track {
    background: #535353; 
    height: 6px;
    border-radius: 5px;
  } */
  #volumeSlider {
    -webkit-appearance: none;
    width: 80px;
    height: 5px;
    background: white; /* Dark track */
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    right: 20px;
  }

  /* Track */
  #volumeSlider::-webkit-slider-runnable-track {
    background: white;
    height: 6px;
    border-radius: 5px;
  }

  /* Thumb (draggable part) */
  #volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: white; /* Spotify Green */
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px; /* Align properly */
    transition: transform 0.2s, background 0.3s;
  }