*{
    padding: 0;
    margin: 0;
    
}
body{
    height: 100vh;
    background: url("/images/background-image.png") no-repeat center center/cover ;
    /* background-image: linear-gradient(135deg,rgb(89, 89, 89),black); */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.float{
    border-top: 2px solid rgb(206, 206, 206);
    background-color: rgb(225, 225, 225,0.1);
    backdrop-filter: blur(15px);
    height: 2.8em;
    width: 30%;
    margin-top: 1em;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.float-button{
    line-height: 2.4em;
    text-align: center;
    /* background-color: blue; */
    height: 80%;
    width: 9em;
    border-radius: 25px;
    
}
.float-button > p{
    color: rgb(206, 206, 206);
    letter-spacing: 1px;
    font-size: 20px;
    font-family: "Bentham", serif;
    font-weight: 400;
    font-style: normal;
}
.music-box{
    margin-top: 15px;
    backdrop-filter: blur(10px);
    background-color: rgb(225, 225, 225,0.2);
    /* background-color: yellow; */
    width: 60%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 204px; */
}
#music-box-search{
    background-color: white;
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 20px;
    width: 27%;
    height: 1.5em;
    padding: 10px;
    padding-left: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
}
.music-images{
    position: relative;
    right: 10%;
    /* background-color: white; */
    width: 120%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.music-images img{
    height: 125px;
    gap: 30px;
}
.now-playing{
    height: 200px !important;
}
.start-image{
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%);
}
.end-image{
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%);
}


.music-functions{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 10px;
    /* position: relative;
    bottom: 300px;*/
    height: 10.5em;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgb(225, 225, 225,0.4);
}
.upnext{
    display: flex;
    margin-top: 1.5em;
    margin-left: 5em;
    width: 100%;
}
.upnext img{
    height: 1.5em;
}
.upnext p{
    font-size: 1em;
    padding-left: 0.5em;
    line-height: 1.45em;
    color: white;
}
.next-songs{
    margin-top: 0.8em;
    margin-left: 6em;
    height: auto;
}
.next-song{
    height: 70px;
}
.next-song img{
    height: 60px;
    border-radius: 10px;
}
.artist{
    color: white;
    width: 30%;
    /* background-color: blue; */
    position: relative;
    left: 90px;
    bottom: 55px;
}
.song-name{
    font-size: 20px;
}
.artist-name{
    font-size: 15px;
}
.song-functions{
    position: relative;
    bottom: 82px;
    /* background-color: yellow; */
    display: flex;
    width: 30%;
    position: relative;
    left: 70%;
    gap: 30px;
}
.song-functions p{
    color: white;
}
.duration{
    font-size: 18px;
}
.like{
    font-size: 20px;
}
.options{
    font-size: 25px;
    position: relative;
    bottom: 8px;
}

.play-functions{
    backdrop-filter: blur(10px);
    background-color: rgb(225, 225, 225,0.2);
    height: 7em;
    width: 60%;
    margin-top: 20px;
}